nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 1;
    color: white;
    padding: 2rem;
    /* white-space: nowrap; */
    /* display: inline-block; */
}

#welcome {
    float: left;
    padding: 3px;
}

.links {
    text-align: right;
}

nav a {
    white-space: nowrap;
    padding: 3px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

nav a:hover {
    text-decoration: underline;
}

  
  