footer {
    margin-top: auto;
    text-align: right;
    background-color: black;
    padding: 0 2rem 2rem 0;
    color: white; 
    font-size: 0.8rem;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.footer-list li {
    margin: 0.3rem 0;
}

a {
    color: white;
    text-decoration: none;
}  
  
.footer-text {
    font-size: 0.5rem;
}
  