footer {
    margin-top: auto;
    text-align: right;
    background-color: black;
    padding: 0 2rem 2rem 0;
    color: white; 
    font-size: 0.8rem;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.footer-list li {
    margin: 0.1rem 0;
}

.footer-list .icons {
    display: flex;
    justify-content: right;
    gap: 3px;
}

.footer-list .icons svg {
    font-size: 28px;
}  

a {
    color: white;
    text-decoration: none;
}  
  
.footer-text {
    font-size: 0.5rem;
    margin-top: 30px;
}
  